@media (min-width: 576px) {
    .wrapper{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }    
    .nav-links-mobile{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .nav-links-desktop{
        display: none;
    }
}

.square-legend{
    /* draw a square in span */
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;

}

.comptaTable details{
    border: 1px solid lightgray;
}

.comptaTable summary{
    padding : 0.5em;
}

.comptaTable summary h5{
    margin: 0;
    display: inline;
}