.wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.square-legend{
    /* draw a square in span */
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;

}